.containerSobre {
    display: flex;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }

.textoSobre {
    text-align: justify;
}

h2 {
    font-style: italic;
    font-size: 40px;
    padding: 1em;
}

p {
    font-size: 15px;
    margin-left: 1em;
    margin-right: 2em;
    margin-top: 2em;
}
    
img {
     max-width: 150%;
     height:auto;
   }
    
  